.LeftSide{
    width: 10vw;
    height: 100vh;
    background-color: #222;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.container_grp{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.icon_base{
    object-fit: cover;
    width: 7vw;
    height: 7vW;
    border-radius: 100%;
}

.barre {
    width: 7vw;
    border-bottom:0.2vw solid gray;
    margin-top: 1vw;
}

.barre2 {
    width: 10vw;
    border-bottom:0.2vw solid #383838;
    margin: 1vw;
}

.mp-groupe{
    width: 20vw;
    height: 100vh;
    background-color: gray;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#mp_search{
    width: 15vw;
    height: 2vw;
    border-radius: 3rem;
    padding: 0.3vw;
    font-size: .7vw;
    margin: 2vw;
}

.btn_groupe{
    width: 15vw;
    height: 2vw;
    background-color: #6d6b6b;
    margin: 3px;
    font-size: .7vw;
}

.box_serveur{
    width: 10vw;
    height:fit-content;
    flex: 1 1 0;
    overflow: auto;
}

.box_mp{
    width: 20vw;
    flex: 1 1 0;
    overflow: auto;
}

.div_find_groupe{
    height: 5vw;
    background-color: #6d6b6b;
    border-radius: 1rem;
}

.btn_find_groupe{
    width: 18vw;
    height: 5vw;
    padding: 0;
    border-radius: 1rem;
    background-color: #6d6b6b;
    margin-top: 5px;
}

.icon_mp{
    object-fit: cover;
    width: 4vw;
    height: 4vW;
    border-radius: 100%;
    float:left;
    margin: 0.5vw
}

.name_mp_box{
    background-color:#383838;
    height: 5vw;
    flex-direction: column;
    display: flex;
    border-radius: 0 1rem 1rem 0;
}

.name_mp{
    color: white;
    font-size: .7vw;
}

.btn_base{
    border-radius: 100%;
    padding: 0;
    background-color: #222;
    margin-top: 1vw;
}