body{
    font-family: 'Uni Sans', sans-serif;
    font-weight: 400;

    /* contain all in 1 screen height */
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-areas: 
     "barreServeur barreLaterale contenu"
     "barreServeur barreLaterale contenu"
     "barreServeur barreLaterale contenu";

    grid-template-columns: 5% 20% auto;
    height: 100%;
}

#content{
    grid-area: contenu;
    background-color: #36393e;

    grid-area: contenu;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    min-height: 100vh;

    color: white;
}

#barreServeur{
    grid-area: barreServeur;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2124;
    text-align: center;
    color: white;
}

#serveur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#logoServeur{
    width: 75%;
}

#serveur_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

#serveur_desc p {
    margin: 0;
    font-weight: bolder;
}


#barreServeur #logo{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #1e2124;
    color: rgb(221, 46, 46);
    width: 60%;
    height: 60%;
}



#barreServeur #barre{
    border: 0.5px solid #5e6f80;
    margin-top: 1%;
    margin-bottom: 1%;
}

#barreLaterale{
    grid-area: barreLaterale;
    background-color: #282b30;
    text-align: center;
    color: white;
}

#AucunMessage{
    text-align: center;
    color: white;
}

#nomDuServeurDiv #barre{
    border: 0.5px solid #1e2124;
}

/*=======================*/

#formChat{
    position: absolute;
    bottom: 5%;
    width: 70%;
    border: 10px solid #424549;
    border-radius: 15px;
    background-color: #424549;
    left: 50%;
    transform: translateX(-50%);
}

#formChat #envoyer{
    background-color: #424549;
    border: none;
}

#formChat #zoneDeText #zoneEnvoieMessage{
    color: white;
    border: none;
    display: inline;
    height: 30px;
    width: 92%;
    background-color: #424549;
    padding-left: 10px;
    padding-right: 10px;
}

.createServeur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_create_serveur {
    text-align: center;
    max-width: 100%;
}

/*=======================*/


.scroll-zone {
    width: 300px; /* Largeur de la zone de défilement */
    height: 200px; /* Hauteur de la zone de défilement */
    overflow: auto; /* Cache le débordement */
    width: 100%;
    height: 75vh;
    position: relative;
  }



.div_create_serveur div button{
    border: none;
    border-radius: 100%;
    background-color: #282b30;
}

.name_create_serveur {
    color: white;
    font-size: 20px;
}

#salonDesign{
    background-color: #424549;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}

/*-------- TITRE DU SERVEUR (au dessus de message)--------*/

.titleNameServeur{
    text-align: center;
    color: white;
}

/* ---------------------------------------------------------------- FIXME START ---------------------------------------------------------------- */
.other_message, .own_message{
    margin-bottom: 3px;
    padding-top : 1px;
    background-color: #5e667c;
    color: rgb(195, 206, 44);
}
/* ---------------------------------------------------------------- FIXME ---------------------------------------------------------------- */
.own_message_text, .other_message_text{
    margin-left: 25px;
    margin-top: 5px;
    padding: 6px;
}
/* ---------------------------------------------------------------- FIXME ---------------------------------------------------------------- */
.dateMessage{
    font-style: italic;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 15px;
    color: black;
}
/* ---------------------------------------------------------------- FIXME ---------------------------------------------------------------- */
.username {
    font-style: italic;
    font-weight: bold;
    color: rgb(160, 207, 184);
    margin-left: 10px;
    margin-bottom: 0;
    padding :0;
}

/* ---------------------------------------------------------------- FIXME END---------------------------------------------------------------- */


#zoneAccueil {
    position: relative; /* Pour que les éléments enfants soient positionnés relativement à celui-ci */
    height: 100vh;
  }
  
  #arrierePlanFlou {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/image/bg.png');
    filter: blur(5px);
    background-size: cover;
    background-position: center;
  }
  
  #contenuAccueil {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282b30;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
  }

  #contenuAccueil {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #messages {    
    height: 100%;
  }

  #contenuAccueil h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #contenuAccueil #message_bienvenue{
    color: rgb(208, 208, 208);
    padding-bottom: 20px;
  }


#parametres{
    color:#4682B4;
    font-size: 13px;
}

.bouton_param, .bouton_profil {
    display: flex;
    flex-direction: column;
}

#deconnexion, #parametres{
    display: flex;
    border: none;
    background-color: #5865f2;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#deconnexion:hover{
    /* transition au rouge en 1s */
    transition: background-color 0.3s;
    background-color: #f02b4c;
}



/* ---------------------------------------------------------------- Login et register ---------------------------------------------------------------- */

#LoginRegister{
    width: 100%;
    height: 100vh;
    background-image: url('../public/image/bg.png');
    background-size: cover;
    background-position: center;
}

#contentLoginRegister{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282b30;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

#LoginRegister #contentLoginRegister .input{
    border: none;
    background-color: #202225;
    color: white;
    font-size: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10px;
    width: 50vh;
    border-radius: 5px;
    margin-bottom: 10px;
}

#LoginRegister #contentLoginRegister #submitButton{
    border: none;
    background-color: #5865f2;
    color: white;
    font-size: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    border-radius: 5px;
}