.grid{
    display: grid;
    grid-template-areas: 
     "barreServeur barreLaterale contenu"
     "barreServeur barreLaterale contenu"
     "barreServeur barreLaterale contenu";

    grid-template-columns: 100px 250px auto;
}

#content{
    grid-area: contenu;
    background-color: #36393e;
}

#barreServeur{
    grid-area: barreServeur;
    background-color: #1e2124;
    color: red;
}

#barreLaterale{
    grid-area: barreLaterale;
    background-color: #282b30;
}

.div_create_serveur{
    height: 80px;
}

.div_create_serveur button{
    font-size: 25px;
    border: none;
    border-radius: 100px;
    width: 100%;
    height:100%;
}